.projectcontainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 100px 0;
    align-items: center;
}

.Firstcontainer > h2{
    color: rgb(127, 136, 255);
    padding-top:25px;
    font-weight: 1000;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
